<div style="margin-top: 20px;">
    <center>
        <h1><strong>OFERTA ACADÉMICA - TECNOLOGÍAS WEB</strong></h1>
    </center>

    <section style="margin-left: 50px; margin-right: 50px;">
        <h3>Introducción</h3>
        <p class="text-justify">
            En la materia de tecnologías web el estudiante aprenderá sobre las tecnologías que nos ayudan a crear sitios web,
            administrar estos, aprenderá sobre tecnologías de control de repositorios, patrones para tener un código limpio 
            y sobre el uso y unión del frontend y backend.
        </p>
    </section>

    <section style="margin-left: 50px; margin-right: 50px;">
        <h3>Costo, tiempo y certificaciones por módulo</h3>

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Módulo</th>
                <th scope="col">Costo</th>
                <th scope="col">Tiempo</th>
                <th scope="col">Certificación</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Html y CSS</th>
                <td>3 créditos</td>
                <td>1 mes</td>
                <td>Desarrollador Junior en Html y estilos</td>
              </tr>
              <tr>
                <th scope="row">Uso de Git y MVC</th>
                <td>2 créditos</td>
                <td>1 mes</td>
                <td>Master en control de Repositorios</td>
              </tr>
              <tr>
                <th scope="row">Javascript y DOM</th>
                <td>3 créditos</td>
                <td>2 mes</td>
                <td>Desarrollador Junior en JavaScript</td>
              </tr>
              <tr>
                <th scope="row">Angular y NodeJS</th>
                <td>4 créditos</td>
                <td>3 mes</td>
                <td>Desarrollador experto en Frontend y Backend</td>
              </tr>
            </tbody>
        </table>   
    </section>

    <section style="margin-left: 50px; margin-right: 50px;">
        <h3>Contenido de los módulos</h3>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Módulo</th>
                <th scope="col">Contenido</th>
                <th scope="col">Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Html y CSS</th>
                <td>
                    <ul>
                        <li>
                            Introduccion HTML
                        </li>
                        <li>
                            Etiquetas HTML
                        </li>
                        <li>
                            Uso de bootstrap y CSS en HTML
                        </li>
                    </ul>
                </td>
                <td>En este módulo aprenderás sobre los fundamentos de html y tendrás una base sobre el desarrollo web.</td>
              </tr>
              <tr>
                <th scope="row">Uso de Git y MVC</th>
                <td>
                    <ul>
                        <li>
                            Fundamento y Comandos de Git
                        </li>
                        <li>
                            GitHub 
                        </li>
                        <li>
                            MVC en nuestro Código
                        </li>
                    </ul>
                </td>
                <td>En este módulo aprenderás los fundamentos y comandos de git ademas del uso de modelo vista controlador en código HTML.</td>
              </tr>
              <tr>
                <th scope="row">Javascript y DOM</th>
                <td>
                    <ul>
                        <li>
                            Variables y funciones en JavaScript
                        </li>
                        <li>
                            DOM en HTML
                        </li>
                    </ul>
                </td>
                <td>En este módulo aprenderás sobre el lenguaje de programación mas famoso del mundo: Javacript y su funcionamiento.</td>
              </tr>
              <tr>
                <th scope="row">Angular y NodeJS</th>
                <td>
                    <ul>
                        <li>
                            Angular y sus componentes
                        </li>
                        <li>
                            NodeJS, un servidor para nuestros proyectos
                        </li>
                        <li>
                            Desarrollo Frontend con Angular y Backend con NodeJS
                        </li>
                    </ul>
                </td>
                <td>En este módulo usarás todo lo aprendido para desarrollar un proyecto limpio y totalmente acabado.</td>
              </tr>
            </tbody>
        </table>
    </section>

    <section style="margin-left: 50px; margin-right: 50px;">
        <h3>Competencias que el estudiante logrará adquirir en la materia</h3>
        <p class="text-justify">
            El estudiante al terminar el curso podrá construir cualquier tipo de web en base a Angular y NodeJS, podrá relizar el
            frontend de una forma esbelta y el backend en base a los modelos de control de código estará bien estructurado. Ademas 
            de tener conocimiento sobre las tecnologías de control de repositorios.
        </p>
    </section>

</div>

